<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>edit-appointment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <form [formGroup] = "updateBookingForm" (ngSubmit) = "updateForm()">
      <ion-item>
        <ion-label position=""floating>Name</ion-label>
        <ion-input formControlName ="name" type ="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position=""floating>Name</ion-label>
        <ion-input formControlName ="email" type ="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position=""floating>Mobile</ion-label>
        <ion-input formControlName ="mobile" type ="text" required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type ="submit" color ="primary" shape="full" expand ="block">Update</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
