<ion-header>
  <ion-toolbar>
    <ion-title>
      Doctors App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Appointments</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Welcome to Doctors App. Here are your appointments:</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let booking of Bookings">
    <ion-card-header>
      <ion-card-title>{{ booking.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>
        <p><ion-icon name="call"></ion-icon> {{booking.mobile}}</p>
        <p><ion-icon name="mail"></ion-icon> {{booking.email}}</p>
        <p><ion-icon name="location"></ion-icon> {{booking.location}}</p>
      </ion-label>
      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/edit-appointment/', booking.$key]">
          <ion-icon name="create" style="zoom:2.0" color="warning"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteBooking(booking.$key)">
          <ion-icon name="trash" style="zoom:2.0" ></ion-icon>
        </button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
